.amazingNav {
    font-family: Roboto;
    color: black;
}

.amazingNav:hover{
    font-family: Roboto;
    text-decoration: none;
    color: black;
}
#brandNavbar {
    font-family: Asap;
    font-Style: normal;
    font-Weight: 500;
    font-Size: 35px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-left : 15px;
    color : black
}

#brandNavbar:hover {
    text-decoration: none;
    color : black;
}